<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Emp">
	<insert id="createOneEmp"
			parameterType="com.kpms.emp.vo.EmpVO">
		<selectKey keyProperty="empId" resultType="string" order="BEFORE">
			SELECT 'EMP-' || TO_CHAR(SYSDATE,'YYYYMMDD') || '-' || LPAD(SEQ_EMP_PK.NEXTVAL,5,'0')
			  FROM DUAL
		</selectKey>
		INSERT INTO EMP
		(EMP_ID,
		 CRT_DT,
		 CRTR,
		 MDFY_DT,
		 MDFYR,
		 USE_YN,
		 DEL_YN,
		 F_NM,
		 BRTHDY,
		 EML,
		 PHN,
		 PSTN_PRD,
		 PRFL_PHT,
		 HR_DT,
		 HR_PRD,
		 ADDRSS,
		 EMPLMNT_STTS,
		 ADMN_YN,
		 PWD_CHNG_DT,
		 PWD_SALT,
		 PWD,
		 PSTN_ID,
		 JOB_ID,
		 DEP_ID,
		 L_NM)
		VALUES
		(#{empId},
		 SYSDATE,
		 #{crtr},
		 SYSDATE,
		 #{mdfyr},
		 NVL(#{useYn},'N'),
		 'N',
		 #{fNm},
		 #{brthdy},
		 #{eml},
		 #{phn},
		 #{pstnPrd},
		 #{prflPht},
		 #{hrDt},
		 #{hrPrd},
		 #{addrss},
		 #{emplmntStts},
		 #{admnYn},
		 SYSDATE,
		 #{pwdSalt},
		 #{pwd},
		 #{pstnId},
		 #{jobId},
		 #{depId},
		 #{lNm})
	</insert>
	
	<select id="readOneEmpByIdAndPwd"
			parameterType="com.kpms.emp.vo.EmpVO"
			resultType="com.kpms.emp.vo.EmpVO">
		SELECT EMP_ID,
			   CRT_DT,
			   CRTR,
			   MDFY_DT,
			   MDFYR,
			   USE_YN,
			   DEL_YN,
			   F_NM,
			   BRTHDY,
			   EML,
			   PHN,
			   PSTN_PRD,
			   PRFL_PHT,
			   HR_DT,
			   HR_PRD,
			   ADDRSS,
			   EMPLMNT_STTS,
			   ADMN_YN,
			   PWD_CHNG_DT,
			   LTST_LGN_IP,
			   LTST_LGN_DT,
			   PWD_SALT,
			   PWD,
			   PSTN_ID,
			   JOB_ID,
			   DEP_ID,
			   L_NM
		  FROM EMP
		 WHERE EMP_ID = #{empId}
		   AND PWD = #{pwd}
		   AND DEL_YN = 'N'
	</select>
	
	<select id="readOneEmpByEmpId"
			parameterType="string"
			resultType="com.kpms.emp.vo.EmpVO">
		SELECT EMP_ID,
			   CRT_DT,
			   CRTR,
			   MDFY_DT,
			   MDFYR,
			   USE_YN,
			   DEL_YN,
			   F_NM,
			   BRTHDY,
			   EML,
			   PHN,
			   PSTN_PRD,
			   PRFL_PHT,
			   HR_DT,
			   HR_PRD,
			   ADDRSS,
			   EMPLMNT_STTS,
			   ADMN_YN,
			   PWD_CHNG_DT,
			   LTST_LGN_IP,
			   LTST_LGN_DT,
			   PWD_SALT,
			   PWD,
			   PSTN_ID,
			   JOB_ID,
			   DEP_ID,
			   L_NM
		  FROM EMP
		 WHERE EMP_ID = #{_parameter}
	</select>
	<select id="readEmpList"
			parameterType="com.kpms.emp.vo.EmpVO"
			resultType="com.kpms.emp.vo.EmpVO">
		SELECT EMP_ID,
			   CRT_DT,
			   CRTR,
			   MDFY_DT,
			   MDFYR,
			   USE_YN,
			   DEL_YN,
			   F_NM,
			   BRTHDY,
			   EML,
			   PHN,
			   PSTN_PRD,
			   PRFL_PHT,
			   HR_DT,
			   HR_PRD,
			   ADDRSS,
			   EMPLMNT_STTS,
			   ADMN_YN,
			   PWD_CHNG_DT,
			   LTST_LGN_IP,
			   LTST_LGN_DT,
			   PWD_SALT,
			   PWD,
			   PSTN_ID,
			   JOB_ID,
			   DEP_ID,
			   L_NM
		  FROM EMP
		 WHERE DEL_YN = 'N'
		<if test="fNm != null and fNm != #{}">
		   AND F_NM LIKE '%' || #{fNm} || '%'
		</if>
	</select>
	
	<update id="updateOneEmp"
			parameterType="com.kpms.emp.vo.EmpVO">
		UPDATE EMP
		   SET MDFY_DT = SYSDATE,
			   MDFYR = #{mdfyr},
			   F_NM = #{fNm},
			   BRTHDY = #{brthdy},
			   EML = #{eml},
			   PHN = #{phn},
			   PRFL_PHT = #{prflPht},
			   ADDRSS = #{addrss},
			   L_NM = #{lNm}
		 WHERE EMP_ID = #{empId}
		   AND DEL_YN = 'N'
	</update>
	
	<update id="deleteOneEmp"
			parameterType="com.kpms.emp.vo.EmpVO">
		UPDATE EMP
		   SET DEL_YN = 'Y'
		 WHERE EMP_ID = #{empId}
	</update>
	
</mapper>