<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Emp">
	<resultMap id="EmpMap" type="com.kpms.emp.vo.EmpVO"
			   autoMapping="true">
		<id property="empId" column="EMP_ID" />
		<association property="crtEmp" 
					 javaType="com.kpms.emp.vo.EmpVO">
			<id property="empId" column="CRTR" />
			<result property="fNm" column="CRTR_F_NM" />
			<result property="lNm" column="CRTR_L_NM" />
		</association>
		<association property="mdfyEmp" 
					 javaType="com.kpms.emp.vo.EmpVO">
			<id property="empId" column="MDFYR" />
			<result property="fNm" column="MDFYR_F_NM" />
			<result property="lNm" column="MDFYR_L_NM" />
		</association>
		<association property="dep" 
					 javaType="com.kpms.dep.vo.DepVO">
			<id property="depId" column="DEP_ID" />
			<result property="depNm" column="DEP_NM" />
		</association>
		<association property="tmMbr" 
					javaType="com.kpms.tmmbr.vo.TmMbrVO">
			<id property="tmMbrId" column="TM_MBR_ID" />
			<result property="tmId" column="TM_ID" />
		</association>
		<association property="job"
					 javaType="com.kpms.job.vo.JobVO">
			<id property="jobId" column="JOB_ID" />
			<result property="jobNm" column="JOB_NM" />
		</association>
		<association property="pstn" 
					 javaType="com.kpms.pstn.vo.PstnVO">
			<id property="pstnId" column="PSTN_ID" />
			<result property="pstnNm" column="PSTN_NM" />
		</association>
		<association property="emplmntSttsVO" 
					 javaType="com.kpms.cmncd.vo.CmnCdVO">
			<id property="cdId" column="EMPLMNT_STTS" />
			<result property="cdNm" column="CD_NM" />
		</association>
	</resultMap>
	
	<insert id="createOneEmp"
			parameterType="com.kpms.emp.vo.EmpVO">
		INSERT INTO EMP
		(EMP_ID,
		 CRT_DT,
		 CRTR,
		 MDFY_DT,
		 MDFYR,
		 USE_YN,
		 DEL_YN,
		 F_NM,
		 BRTHDY,
		 EML,
		 PHN,
		 PSTN_PRD,
		 PRFL_PHT,
		 HR_DT,
		 HR_PRD,
		 ADDRSS,
		 EMPLMNT_STTS,
		 ADMN_YN,
		 PWD_CHNG_DT,
		 LTST_LGN_IP,
		 LTST_LGN_DT,
		 PWD_SALT,
		 PWD,
		 PSTN_ID,
		 JOB_ID,
		 DEP_ID,
		 L_NM,
		 LGN_CNT,
		 FAIL_DT,
		 DTL_ADDRSS,
		 PST_CD)
		VALUES
		(#{empId},
		 SYSDATE,
		 #{crtr},
		 SYSDATE,
		 #{mdfyr},
		 'Y',
		 'N',
		 #{fNm},
		 #{brthdy},
		 #{eml},
		 #{phn},
		 #{pstnPrd},
		 #{prflPht},
		 #{hrDt},
		 #{hrPrd},
		 #{addrss},
		 #{emplmntStts},
		 #{admnYn},
		 SYSDATE,
		 '',
		 '',
		 #{pwdSalt},
		 #{pwd},
		 #{pstnId},
		 #{jobId},
		 #{depId},
		 #{lNm},
		 0,
		 '',
		 #{dtlAddrss},
		 #{pstCd})
	</insert>
	
	
	<select id="readCntPwdChngDtMore90ById"
			parameterType="string"
			resultType="int">
		SELECT COUNT(1)
		  FROM EMP
		 WHERE EMP_ID = #{_parameter}
		   AND DEL_YN = 'N'
		   AND PWD_CHNG_DT <![CDATA[<]]>= SYSDATE - 90
	</select>
	
	<select id="readSaltById"
			parameterType="string"
			resultType="string">
		SELECT PWD_SALT
		  FROM EMP
		 WHERE EMP_ID = #{_parameter}
		   AND DEL_YN = 'N'
	</select>
	<select id="readCntLgnTryDataRcnt60ById"
			parameterType="string"
			resultType="int">
		SELECT COUNT(1)
		  FROM EMP
		 WHERE EMP_ID = #{_parameter}
		   AND DEL_YN = 'N'
		   AND FAIL_DT >= SYSDATE - 1/24
	</select>
	<select id="readLgnTryDataById"
			parameterType="string"
			resultType="com.kpms.emp.vo.EmpVO">
		SELECT LGN_CNT,
			   TO_CHAR(FAIL_DT,'YYYY-MM-DD HH24:MI:SS') FAIL_DT
		  FROM EMP
		 WHERE EMP_ID = #{_parameter}
		   AND DEL_YN = 'N'
	</select>
	<select id="readOneEmpByIdAndPwd"
			parameterType="com.kpms.emp.vo.EmpVO"
			resultType="com.kpms.emp.vo.EmpVO">
		SELECT EMP_ID,
			   TO_CHAR(CRT_DT,'YYYY-MM-DD HH24:MI:SS') CRT_DT,
			   CRTR,
			   TO_CHAR(MDFY_DT,'YYYY-MM-DD HH24:MI:SS') MDFY_DT,
			   MDFYR,
			   USE_YN,
			   DEL_YN,
			   F_NM,
			   BRTHDY,
			   EML,
			   PHN,
			   PSTN_PRD,
			   PRFL_PHT,
			   TO_CHAR(HR_DT,'YYYY-MM-DD HH24:MI:SS') HR_DT,
			   HR_PRD,
			   ADDRSS,
			   EMPLMNT_STTS,
			   ADMN_YN,
			   TO_CHAR(PWD_CHNG_DT,'YYYY-MM-DD HH24:MI:SS') PWD_CHNG_DT,
			   LTST_LGN_IP,
			   TO_CHAR(LTST_LGN_DT,'YYYY-MM-DD HH24:MI:SS') LTST_LGN_DT,
			   PWD_SALT,
			   PWD,
			   PSTN_ID,
			   JOB_ID,
			   DEP_ID,
			   L_NM,
			   LGN_CNT,
			   TO_CHAR(FAIL_DT,'YYYY-MM-DD HH24:MI:SS') FAIL_DT
		  FROM EMP
		 WHERE EMP_ID = #{empId}
		   AND PWD = #{pwd}
		   AND DEL_YN = 'N'
	</select>
	
	<select id="readOneEmpByEmpId"
			parameterType="string"
			resultMap="EmpMap">
		SELECT E.EMP_ID,
			   TO_CHAR(E.CRT_DT,'YYYY-MM-DD HH24:MI:SS') CRT_DT,
			   E.CRTR,
			   TO_CHAR(E.MDFY_DT,'YYYY-MM-DD HH24:MI:SS') MDFY_DT,
			   E.MDFYR,
			   E.USE_YN,
			   E.DEL_YN,
			   E.F_NM,
			   E.BRTHDY,
			   E.EML,
			   E.PHN,
			   E.PSTN_PRD,
			   E.PRFL_PHT,
			   TO_CHAR(E.HR_DT,'YYYY-MM-DD') HR_DT,
			   E.HR_PRD,
			   E.ADDRSS,
			   E.EMPLMNT_STTS,
			   E.ADMN_YN,
			   TO_CHAR(E.PWD_CHNG_DT,'YYYY-MM-DD') PWD_CHNG_DT,
			   E.LTST_LGN_IP,
			   TO_CHAR(E.LTST_LGN_DT,'YYYY-MM-DD HH24:MI:SS') LTST_LGN_DT,
			   E.PWD_SALT,
			   E.PWD,
			   E.PSTN_ID,
			   E.JOB_ID,
			   E.DEP_ID,
			   E.L_NM,
			   E.LGN_CNT,
			   TO_CHAR(E.FAIL_DT,'YYYY-MM-DD HH24:MI:SS') FAIL_DT,
			   E.DTL_ADDRSS,
			   E.PST_CD,
			   CE.F_NM CRTR_F_NM,
			   CE.L_NM CRTR_L_NM,
			   ME.F_NM MDFYR_F_NM,
			   ME.L_NM MDFYR_L_NM,
			   J.JOB_NM,
			   D.DEP_NM,
			   P.PSTN_NM,
			   CMCD.CD_NM
		  FROM (SELECT *
		  		  FROM EMP
				 WHERE DEL_YN = 'N'
				   AND EMP_ID = #{_parameter}) E
		  JOIN EMP CE
		  	ON CE.EMP_ID = E.CRTR
		  JOIN EMP ME
		  	ON ME.EMP_ID = E.MDFYR
		  JOIN DEP D
		  	ON D.DEP_ID = E.DEP_ID
		  JOIN JOB J
		  	ON J.JOB_ID = E.JOB_ID
		  JOIN PSTN P
		  	ON P.PSTN_ID = E.PSTN_ID
		  JOIN CMN_CD CMCD
		  	ON CMCD.CD_ID = E.EMPLMNT_STTS
	</select>
	
	<select id="readEmpListNoPagination"
			parameterType="com.kpms.emp.vo.EmpVO"
			resultMap="EmpMap">
		SELECT E.EMP_ID,
			   E.F_NM,
			   E.L_NM,
			   E.EML,
			   E.PHN,
			   E.PRFL_PHT,
			   E.EMPLMNT_STTS,
			   E.DEP_ID,
			   J.JOB_NM,
			   D.DEP_NM,
			   P.PSTN_NM
		  FROM (SELECT *
		  		  FROM EMP
				 WHERE DEL_YN = 'N'
				<if test="depId != null and depId != ''">
				   AND DEP_ID = #{depId}
				</if>
				<if test="fNm != null and fNm != ''">
				   AND F_NM LIKE '%' || #{fNm} || '%'
				</if>) E
		  JOIN EMP CE
		  	ON CE.EMP_ID = E.CRTR
		  JOIN EMP ME
		  	ON ME.EMP_ID = E.MDFYR
		  JOIN DEP D
		  	ON D.DEP_ID = E.DEP_ID
		  JOIN JOB J
		  	ON J.JOB_ID = E.JOB_ID
		  JOIN PSTN P
		  	ON P.PSTN_ID = E.PSTN_ID
	</select>
	
	<select id="readEmpOnTmMbrListNoPagination"
			parameterType="com.kpms.emp.vo.EmpVO"
			resultMap="EmpMap">
		SELECT D.DEP_ID, 
		       E.EMP_ID,
			   E.F_NM,
			   E.L_NM,
			   E.EML,
			   E.PHN,
			   E.PRFL_PHT,
			   E.EMPLMNT_STTS,
			   E.DEP_ID,
			   E.BRTHDY,
			   J.JOB_NM,
			   D.DEP_NM,
			   P.PSTN_NM 
		  FROM DEP D
		 INNER JOIN EMP E
		    ON D.DEP_ID = E.DEP_ID
		 INNER JOIN JOB J
		  	ON J.JOB_ID = E.JOB_ID
		 INNER JOIN PSTN P
		  	ON P.PSTN_ID = E.PSTN_ID
		WHERE D.DEL_YN = 'N'
		  AND E.DEL_YN = 'N'
		<if test="depId != null and depId != ''">
		  AND D.DEP_ID = #{depId}
		</if>
		<if test="fNm != null and fNm != ''">
		  AND E.F_NM LIKE '%' || #{fNm} || '%'
		</if>
		  AND E.EMP_ID NOT IN (SELECT TM.EMP_ID
								 FROM TM_MBR TM
								WHERE TM.TM_ID = #{tmMbr.tmId}
							  	  AND TM.DEL_YN = 'N')
	</select>
	
	<select id="readEmpList"
			parameterType="com.kpms.emp.vo.EmpVO"
			resultMap="EmpMap">
		<include refid="Common.pageHeader"/>
		SELECT E.EMP_ID PK_COL,
			   DENSE_RANK() OVER(ORDER BY E.CRT_DT || E.EMP_ID DESC) RNUM,
			   E.EMP_ID,
			   TO_CHAR(E.CRT_DT,'YYYY-MM-DD HH24:MI:SS') CRT_DT,
			   E.CRTR,
			   TO_CHAR(E.MDFY_DT,'YYYY-MM-DD HH24:MI:SS') MDFY_DT,
			   E.MDFYR,
			   E.USE_YN,
			   E.DEL_YN,
			   E.F_NM,
			   E.BRTHDY,
			   E.EML,
			   E.PHN,
			   E.PSTN_PRD,
			   E.PRFL_PHT,
			   TO_CHAR(E.HR_DT,'YYYY-MM-DD HH24:MI:SS') HR_DT,
			   E.HR_PRD,
			   E.ADDRSS,
			   E.EMPLMNT_STTS,
			   E.ADMN_YN,
			   TO_CHAR(E.PWD_CHNG_DT,'YYYY-MM-DD HH24:MI:SS') PWD_CHNG_DT,
			   E.LTST_LGN_IP,
			   TO_CHAR(E.LTST_LGN_DT,'YYYY-MM-DD HH24:MI:SS') LTST_LGN_DT,
			   E.PWD_SALT,
			   E.PWD,
			   E.PSTN_ID,
			   E.JOB_ID,
			   E.DEP_ID,
			   E.L_NM,
			   E.LGN_CNT,
			   TO_CHAR(E.FAIL_DT,'YYYY-MM-DD HH24:MI:SS') FAIL_DT,
			   E.DTL_ADDRSS,
			   E.PST_CD,
			   CE.F_NM CRTR_F_NM,
			   CE.L_NM CRTR_L_NM,
			   ME.F_NM MDFYR_F_NM,
			   ME.L_NM MDFYR_L_NM,
			   J.JOB_NM,
			   D.DEP_NM,
			   P.PSTN_NM,
			   CMCD.CD_NM
		  FROM (SELECT *
		  		  FROM EMP
				 WHERE DEL_YN = 'N'
				<if test="empId != null and empId != ''">
				   AND EMP_ID = #{empId}
				</if>
				<if test="fNm != null and fNm != ''">
				   AND F_NM LIKE '%' || #{fNm} || '%'
				</if>
				<if test="emplmntStts != null and emplmntStts != ''">
				   AND EMPLMNT_STTS = #{emplmntStts}
				</if>) E
		  JOIN EMP CE
		  	ON CE.EMP_ID = E.CRTR
		  JOIN EMP ME
		  	ON ME.EMP_ID = E.MDFYR
		  JOIN DEP D
		  	ON D.DEP_ID = E.DEP_ID
		  JOIN JOB J
		  	ON J.JOB_ID = E.JOB_ID
		  JOIN PSTN P
		  	ON P.PSTN_ID = E.PSTN_ID
		  JOIN CMN_CD CMCD
		  	ON CMCD.CD_ID = E.EMPLMNT_STTS
		<include refid="Common.pageFooter"/>
	</select>
	
	<update id="updateOneEmp"
			parameterType="com.kpms.emp.vo.EmpVO">
		UPDATE EMP
		   SET MDFY_DT = SYSDATE,
			   MDFYR = #{mdfyr},
		<choose>
			<when test="pwd != null and pwd != ''">
			   PWD = #{pwd},
			   PWD_SALT = #{pwdSalt}
			</when>
			<when test="pstnId != null and pstnId != ''">
			   PSTN_ID = #{pstnId}
			</when>
			<when test="jobId != null and jobId != ''">
			   JOB_ID = #{jobId}
			</when>
			<when test="depId != null and depId != ''">
			   DEP_ID = #{depId}
			</when>
			<otherwise>
			   F_NM = #{fNm},
			   BRTHDY = #{brthdy},
			   EML = #{eml},
			   PHN = #{phn},
			   ADDRSS = #{addrss},
			   DTL_ADDRSS =#{dtlAddrss},
			   PST_CD = #{pstCd},
			   L_NM = #{lNm},
			<if test="prflPht != null and prflPht != ''">
			   PRFL_PHT = #{prflPht}
			</if>
			</otherwise>
		</choose>
		 WHERE EMP_ID = #{empId}
		   AND DEL_YN = 'N'
	</update>
	
	<update id="deleteOneEmp"
			parameterType="com.kpms.emp.vo.EmpVO">
		UPDATE EMP
		   SET DEL_YN = 'Y'
		 WHERE EMP_ID = #{empId}
	</update>
	
	<update id="updateEmpLgnSucc"
			parameterType="com.kpms.emp.vo.EmpVO">
		UPDATE EMP
		   SET LTST_LGN_IP = #{ltstLgnIp}
		   	 , LTST_LGN_DT = SYSDATE
		   	 , LGN_CNT = 0
		   	 , FAIL_DT = ''
		 WHERE EMP_ID = #{empId}
	</update>
	<update id="updateEmpLgnFail"
			parameterType="string">
		UPDATE EMP
		   SET LGN_CNT = LGN_CNT + 1
		   	 , FAIL_DT = SYSDATE
		 WHERE EMP_ID = #{empId}
	</update>
	<update id="updateEmpLgnCntZero"
			parameterType="string">
		UPDATE EMP
		   SET LGN_CNT = 0
		   	 , FAIL_DT = ''
		 WHERE EMP_ID = #{empId}
	</update>
	<update id="updateEmpPstn"
			parameterType="com.kpms.emp.vo.EmpChngPstnVO">
		UPDATE EMP
		   SET PSTN_ID = #{pstnId}
		   	 , MDFYR = #{mdfyr}
		 WHERE EMP_ID IN
		 <foreach collection="empIdList" item="empId" open="(" close=")" separator=", ">
		  #{empId}
		 </foreach>
	</update>
	<update id="updateEmpJob"
			parameterType="com.kpms.emp.vo.EmpChngJobVO">
		UPDATE EMP
		   SET JOB_ID = #{jobId}
		   	 , MDFYR = #{mdfyr}
		 WHERE EMP_ID IN
		 <foreach collection="empIdList" item="empId" open="(" close=")" separator=", ">
		  #{empId}
		 </foreach>
	</update>
	<update id="updateEmpDep"
			parameterType="com.kpms.emp.vo.EmpChngDepVO">
		UPDATE EMP
		   SET DEP_ID = #{depId}
		   	 , MDFYR = #{mdfyr}
		 WHERE EMP_ID IN
		 <foreach collection="empIdList" item="empId" open="(" close=")" separator=", ">
		  #{empId}
		 </foreach>
	</update>
	
	<update id="updateEmpEmplmnt"
			parameterType="com.kpms.emp.vo.EmpChngEmplmntVO">
		UPDATE EMP
		   SET EMPLMNT_STTS = #{emplmntStts}
		   	 , MDFYR = #{mdfyr}
		 WHERE EMP_ID IN
		 <foreach collection="empIdList" item="empId" open="(" close=")" separator=", ">
		  #{empId}
		 </foreach>
	</update>
</mapper>