<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LgnTryLog">
	
<!-- 	<insert id="createLgnTryLog"
			parameterType="com.kpms.lgntrylog.vo.LgnTryLogVO">
		INSERT INTO LGN_TRY_LOG
		(LGN_TRY_IP,
		 CRT_DT,
		 CRTR,
		 DEL_YN,
		 LGN_TRY_CNT,
		 LTST_LGN_TRY_DT)
		VALUES
		(#{lgnTryIp},
		 SYSDATE,
		 #{crtr},
		 'N',
		 0,
		 SYSDATE)
	</insert>
	
	
	<update id="updateLgnTryLog"
			parameterType="com.kpms.lgntrylog.vo.LgnTryLogVO">
		UPDATE LGN_TRY_LOG
		   SET CRTR = #{crtr},
			   LGN_TRY_CNT = #{lgnTryCnt},
			   LTST_LGN_TRY_DT = SYSDATE
		 WHERE LGN_TRY_IP = #{lgnTryIp}
		
	</update>
	
	<select id="readLgnTryLogByIp"
			parameterType="com.kpms.lgntrylog.vo.LgnTryLogVO"
			resultType="com.kpms.lgntrylog.vo.LgnTryLogVO">
		
	</select> -->
	
</mapper>