<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LgnTryLog">
	
	<insert id="createLgnTryLog"
			parameterType="com.kpms.lgntrylog.vo.LgnTryLogVO">
	</insert>
	
	
	<update id="updateLgnTryLog"
			parameterType="com.kpms.lgntrylog.vo.LgnTryLogVO">
		
	</update>
	
	<select id="readLgnTryLogByIp"
			parameterType="com.kpms.lgntrylog.vo.LgnTryLogVO"
			resultType="com.kpms.lgntrylog.vo.LgnTryLogVO">
		
	</select>
	
</mapper>