<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Eqp">
	
	<insert id="createNewEqp"
			parameterType="com.kpms.eqp.vo.EqpVO">
		INSERT INTO EQP
		 (EQP_ID
		, CRT_DT
		, CRTR
		, MDFY_DT
		, MDFYR
		, USE_YN
		, DEL_YN
		, EQP_NM
		, EQP_TP
		, APPL_STTS
		, EQP_PRC
		, PRCHS_DT
		, LOSS_STTS
		, LOSS_RPRT_DT
		, APPL_DT)
		VALUES
		 (SEQ_EQP_PK.NEXTVAL
		, SYSDATE
		, #{crtr}
		, SYSDATE
		, #{mdfyr}
		, NVL(#{useYn}, 'N')
		, 'N'
		, #{eqpNm}
		, #{eqpTp}
		, #{applStts}
		, #{eqpPrc}
		, #{prchsDt}
		, NVL(#{lossStts}, 'N')
		, #{lossRprtDt}
		, #{applDt})
	</insert>
		
	
	<select id="readAllEqp"
			parameterType="com.kpms.eqp.vo.EqpVO"
			resultType="com.kpms.eqp.vo.EqpVO">
		<include refid="Common.pageHeader" />
		SELECT EQP_ID
			 , CRT_DT
			 , CRTR
			 , MDFY_DT
			 , MDFYR
			 , USE_YN
			 , DEL_YN
			 , EQP_NM
			 , EQP_TP
			 , APPL_STTS
			 , EQP_PRC
			 , TO_CHAR(PRCHS_DT, 'YYYY-MM-DD') PRCHS_DT
			 , LOSS_STTS
			 , TO_CHAR(LOSS_RPRT_DT, 'YYYY-MM-DD') LOSS_RPRT_DT
			 , TO_CHAR(APPL_DT, 'YYYY-MM-DD') APPL_DT
		  FROM EQP
		 WHERE DEL_YN = 'N'
		   AND APPL_STTS IS NOT NULL
		 <if test="eqpNm != null and eqpNm != ''">
		   AND EQP_NM LIKE '%' || #{eqpNm} || '%'
		 </if>
		 <if test="applStts != null and applStts != ''">
		   AND APPL_STTS LIKE '%' || #{applStts} || '%'
		 </if>
		 <if test="lossStts != null and lossStts != ''">
		   AND LOSS_STTS LIKE '%' || #{lossStts} || '%'
		 </if>
		  ORDER BY EQP_ID ASC
		 <include refid="Common.pageFooter" />
	</select>
	
	<select id="readAllEqpRented"
			parameterType="com.kpms.eqp.vo.EqpVO"
			resultType="com.kpms.eqp.vo.EqpVO">
		<include refid="Common.pageHeader" />
		SELECT EQP_ID
			 , CRT_DT
			 , CRTR
			 , MDFY_DT
			 , MDFYR
			 , USE_YN
			 , DEL_YN
			 , EQP_NM
			 , EQP_TP
			 , APPL_STTS
			 , EQP_PRC
			 , TO_CHAR(PRCHS_DT, 'YYYY-MM-DD') PRCHS_DT
			 , LOSS_STTS
			 , TO_CHAR(LOSS_RPRT_DT, 'YYYY-MM-DD') LOSS_RPRT_DT
			 , TO_CHAR(APPL_DT, 'YYYY-MM-DD') APPL_DT
		  FROM EQP
		 WHERE DEL_YN = 'N'
		   AND APPL_STTS IS NOT NULL
		 <if test="eqpNm != null and eqpNm != ''">
		   AND EQP_NM LIKE '%' || #{eqpNm} || '%'
		 </if>
		 <if test="applStts != null and applStts != ''">
		   AND APPL_STTS LIKE '%' || #{applStts} || '%'
		 </if>
		 <if test="lossStts != null and lossStts != ''">
		   AND LOSS_STTS LIKE '%' || #{lossStts} || '%'
		 </if>
		  ORDER BY EQP_ID ASC
		 <include refid="Common.pageFooter" />
	</select>
	
	<select id="readAllEqpApply"
			parameterType="com.kpms.eqp.vo.EqpVO"
			resultType="com.kpms.eqp.vo.EqpVO">
		<include refid="Common.pageHeader" />
		SELECT EQP_ID
			 , CRT_DT
			 , CRTR
			 , MDFY_DT
			 , MDFYR
			 , USE_YN
			 , DEL_YN
			 , EQP_NM
			 , EQP_TP
			 , APPL_STTS
			 , EQP_PRC
			 , TO_CHAR(PRCHS_DT, 'YYYY-MM-DD') PRCHS_DT
			 , LOSS_STTS
			 , TO_CHAR(LOSS_RPRT_DT, 'YYYY-MM-DD') LOSS_RPRT_DT
			 , TO_CHAR(APPL_DT, 'YYYY-MM-DD') APPL_DT
		  FROM EQP
		 WHERE DEL_YN = 'N'
		   AND APPL_STTS IS NULL
		 <if test="eqpNm != null and eqpNm != ''">
		   AND EQP_NM LIKE '%' || #{eqpNm} || '%'
		 </if>
		 <if test="applStts != null and applStts != ''">
		   AND APPL_STTS LIKE '%' || #{applStts} || '%'
		 </if>
		 <if test="lossStts != null and lossStts != ''">
		   AND LOSS_STTS LIKE '%' || #{lossStts} || '%'
		 </if>
		  ORDER BY EQP_ID ASC
		 <include refid="Common.pageFooter" />
	</select>
	
		<select id="readAllEqpLosted"
			parameterType="com.kpms.eqp.vo.EqpVO"
			resultType="com.kpms.eqp.vo.EqpVO">
		<include refid="Common.pageHeader" />
		SELECT EQP_ID
			 , CRT_DT
			 , CRTR
			 , MDFY_DT
			 , MDFYR
			 , USE_YN
			 , DEL_YN
			 , EQP_NM
			 , EQP_TP
			 , APPL_STTS
			 , EQP_PRC
			 , TO_CHAR(PRCHS_DT, 'YYYY-MM-DD') PRCHS_DT
			 , LOSS_STTS
			 , TO_CHAR(LOSS_RPRT_DT, 'YYYY-MM-DD') LOSS_RPRT_DT
			 , TO_CHAR(APPL_DT, 'YYYY-MM-DD') APPL_DT
		  FROM EQP
		 WHERE DEL_YN = 'N'
		   AND LOSS_STTS = 'Y'
		 <if test="eqpNm != null and eqpNm != ''">
		   AND EQP_NM LIKE '%' || #{eqpNm} || '%'
		 </if>
		 <if test="applStts != null and applStts != ''">
		   AND APPL_STTS LIKE '%' || #{applStts} || '%'
		 </if>
		 <if test="lossStts != null and lossStts != ''">
		   AND LOSS_STTS LIKE '%' || #{lossStts} || '%'
		 </if>
		  ORDER BY EQP_ID ASC
		 <include refid="Common.pageFooter" />
	</select>
	
	<select id="readAllEqpNoPagination"
			parameterType="string"
			resultType="com.kpms.eqp.vo.EqpVO">
		SELECT EQP_ID
			 , CRT_DT
			 , CRTR
			 , MDFY_DT
			 , MDFYR
			 , USE_YN
			 , DEL_YN
			 , EQP_NM
			 , EQP_TP
			 , APPL_STTS
			 , EQP_PRC
			 , TO_CHAR(PRCHS_DT, 'YYYY-MM-DD') PRCHS_DT
			 , LOSS_STTS
			 , TO_CHAR(LOSS_RPRT_DT, 'YYYY-MM-DD') LOSS_RPRT_DT
			 , TO_CHAR(APPL_DT, 'YYYY-MM-DD') APPL_DT
		  FROM EQP
		 WHERE DEL_YN = 'N'
		   AND USE_YN = 'Y'
		   AND EQP_NM LIKE '%' || #{eqpNm} || '%'
		 ORDER BY EQP_ID ASC
	</select>
	
	
	<update id="updateEqp"
			parameterType="com.kpms.eqp.vo.EqpVO">
		UPDATE EQP
		   SET MDFY_DT= SYSDATE
		     , MDFYR= #{mdfyr}
		     , USE_YN= NVL(#{useYn}, 'N')
		     , EQP_NM= #{eqpNm}
		     , EQP_TP= #{eqpTp}
		     , APPL_STTS= #{applStts}
		     , EQP_PRC= #{eqpPrc}
		     , PRCHS_DT= #{prchsDt}
		     , LOSS_STTS= NVL(#{lossStts}, 'N')
		     , LOSS_RPRT_DT= #{lossRprtDt}
		     , APPL_DT= #{applDt}
		 WHERE EQP_ID= #{eqpId}
		   <if test="applDt != null and applDt != ''">
		   AND PRCHS_DT <![CDATA[<=]]> #{applDt}
		   </if>
		   <if test="lossRprtDt != null and lossRprtDt != ''">
		   AND PRCHS_DT <![CDATA[<=]]> #{lossRprtDt}
		   </if>
	</update>
	
	
	<update id="deleteEqpByEqpId"
			parameterType="string">
		UPDATE EQP
		   SET DEL_YN= 'Y'
		 WHERE EQP_ID= #{eqpId}
	</update>
	
	
	<update id="deleteEqpBySelectedEqpId"
			parameterType="arraylist">
		UPDATE EQP
		   SET DEL_YN= 'Y'
		 WHERE EQP_ID IN
		 <foreach collection="list" item="eqpId" open="(" close=")" separator=", ">
		 	#{eqpId}
		 </foreach>
	</update>

</mapper>