<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/logs/kpms/logFile.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/logs/kpms/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>

      <maxHistory>30</maxHistory>

    </rollingPolicy>

    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger level="debug" name="org.springframework">
    <appender-ref ref="FILE"/>
  </logger>
  <logger level="debug" name="com.kpms">
    <appender-ref ref="FILE"/>
  </logger>
  
  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>