<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AtchFl">

	<insert id="doCreateNewAtchFl"
			parameterType="com.kpms.atchfl.vo.AtchFlVO">
		INSERT INTO ATCH_FL
		 (FRGN_ID
		, ORG_FL_NM
		, UUID_FL_NM
		, FL_SZ
		, FL_EXT
		, CRTR
		, CRT_DT
		, MDFYR
		, MDFY_DT
		, USE_YN
		, DEL_YN)
		VALUES
		 (#{frgnId}
		, #{orgFlNm}
		, #{uuidFlNm}
		, #{flSz}
		, #{flExt}
		, #{crtr}
		, SYSDATE
		, #{mdfyr}
		, SYSDATE
		, 'Y'
		, 'N')
	</insert>
	
	<update id="doDeleteNewAtchFl"
			parameterType="com.kpms.atchfl.vo.AtchFlVO">
		UPDATE KPMS.ATCH_FL
		   SET MDFYR = #{mdfyr}
		     , MDFY_DT = SYSDATE
		     , DEL_YN = 'Y'
		 WHERE FRGN_ID = #{frgnId}
	</update>
</mapper>