<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AcsLog">

	<resultMap id="AcsLogMap"
			   type="com.kpms.acslog.vo.AcsLogVO"
			   autoMapping="true">
		<id property="logId" column="LOG_ID" />
		<association property="emp" 
					 javaType="com.kpms.emp.vo.EmpVO">
			<id property="empId" column="CRTR" />
			<result property="fNm" column="F_NM" />
			<result property="lNm" column="L_NM" />
		</association>
	</resultMap>

	<insert id="createAcsLog"
			parameterType="com.kpms.acslog.vo.AcsLogVO">
		INSERT INTO ACS_LOG
		(LOG_ID,
		 CRT_DT,
		 CRTR,
		 ACS_LOG)
		VALUES
		('AL-'||TO_CHAR(SYSDATE,'YYYYMMDDHH24MI')||'-'||LPAD(SEQ_ACS_LOG_PK.NEXTVAL,5,'0'),
		 SYSDATE,
		 #{crtr},
		 #{acsLog})
	</insert>
	
	<select id="readAllAcsLog"
			parameterType="com.kpms.acslog.vo.AcsLogVO"
			resultMap="AcsLogMap">
		<include refid="Common.pageHeader"/>
		SELECT AL.LOG_ID PK_COL
			 , DENSE_RANK() OVER(ORDER BY AL.CRT_DT || AL.LOG_ID DESC) RNUM
			 , AL.LOG_ID
			 , TO_CHAR(AL.CRT_DT,'YYYY-MM-DD HH24:MI:SS') CRT_DT
			 , AL.CRTR
			 , AL.ACS_LOG
			 , E.F_NM
			 , E.L_NM
		  FROM (SELECT *
		  		  FROM ACS_LOG
		  		<if test="crtr != null and crtr != ''">
		  		 WHERE CRTR = #{crtr}
		  		</if>) AL
		  JOIN (SELECT E.*
		  			 , E.L_NM || E.F_NM NM
		  		  FROM EMP E) E
		 	ON E.EMP_ID = AL.CRTR
		<if test="emp != null and emp.fNm != null and emp.fNm != ''">
		 WHERE E.NM LIKE '%' || #{emp.fNm} || '%'
		</if>
		   AND AL.CRT_DT >= TO_DATE(#{startDt} || ' 00:00:00', 'YYYY-MM-DD HH24:MI:SS')
		   AND AL.CRT_DT <![CDATA[<=]]> TO_DATE(#{endDt} || ' 23:59:59', 'YYYY-MM-DD HH24:MI:SS')
		<include refid="Common.pageFooter"/>
	</select>
	
	<select id="readAllAcsLogToExcel"
			parameterType="com.kpms.acslog.vo.AcsLogVO"
			resultType="com.kpms.acslog.vo.AcsLogExcelVO">
		SELECT AL.ACS_LOG
			 , AL.CRT_DT 
			 , E.EMP_ID
			 , E.NM
		  FROM (SELECT ACS_LOG
					 , TO_CHAR(CRT_DT,'YYYY-MM-DD HH24:MI:SS') CRT_DT
					 , CRTR
		  		  FROM ACS_LOG
		  		 WHERE CRT_DT >= TO_DATE(#{startDt} || ' 00:00:00', 'YYYY-MM-DD HH24:MI:SS')
				   AND CRT_DT <![CDATA[<=]]> TO_DATE(#{endDt} || ' 23:59:59', 'YYYY-MM-DD HH24:MI:SS')) AL
		  JOIN (SELECT EMP_ID
		  			 , L_NM || F_NM NM
		  		  FROM EMP ) E
		 	ON E.EMP_ID = AL.CRTR
	</select>
</mapper>