<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="JobLog">

	<resultMap id="jobLogVOMap" 
			 type="com.kpms.joblog.vo.JobLogVO"
			 autoMapping="true">
			 <id property="empId" column="EMP_ID"/>
			 <id property="chngDt" column="CHNG_DT"/>
			 <association property="empVO"
			 			  javaType="com.kpms.emp.vo.EmpVO">
			 	<id property="empId" column="EMP_ID"/>
			 	<result property="fNm" column="F_NM"/>
			 	<result property="lNm" column="L_NM"/>
			 </association>
			 <association property="prvsJobNmVO"
			 			  javaType="com.kpms.job.vo.JobVO">
			 	<id property="jobId" column="PRVS_JOB_ID"/>
			 	<result property="jobNm" column="PRVS_JOBNM"/>
			 </association>
			<association property="chngJobNmVO"
						 javaType="com.kpms.job.vo.JobVO">
				<id property="jobId" column="CHNG_JOB_ID"/>
				<result property="jobNm" column="CHNG_JOBNM"/>	
			</association>
	</resultMap>
	<select id="readAllJobLogVO"
			parameterType="com.kpms.joblog.vo.JobLogVO"
			resultMap="jobLogVOMap">
		SELECT JL.EMP_ID
	 		 , TO_CHAR(JL.CRT_DT, 'YYYY-MM-DD HH24:MI:SS') CRT_DT
	 		 , JL.CRTR
			 , TO_CHAR(JL.CHNG_DT, 'YYYY-MM-DD HH24:MI:SS') CHNG_DT
			 , JL.PRVS_JOB_ID
			 , J.JOB_NM PRVS_JOBNM
			 , JL.CHNG_JOB_ID
			 , JB.JOB_NM CHNG_JOBNM
			 , JL.CHNG_RSN
			 , E.F_NM
			 , E.L_NM
  		  FROM JOB_LOG JL
 		 INNER JOIN JOB J
   		    ON J.JOB_ID = JL.PRVS_JOB_ID
 		 INNER JOIN JOB JB
   		    ON JB.JOB_ID = JL.CHNG_JOB_ID
		 INNER JOIN EMP E
		    ON E.EMP_ID = JL.EMP_ID
	</select>

	<insert id="createJobLog"
			parameterType="com.kpms.joblog.vo.JobLogVO">
		INSERT INTO JOB_LOG
				   (EMP_ID
				  , CRT_DT
				  , CRTR
				  , CHNG_DT
				  , PRVS_JOB_ID
				  , CHNG_JOB_ID
				  , CHNG_RSN)
			VALUES
				  (#{empId}
				 , SYSDATE
				 , #{crtr}
				 , SYSDATE
				 , #{prvsJobId}
				 , #{chngJobId}
				 , #{chngRsn})
	</insert>
	
</mapper>