<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="JobLog">

	<resultMap id="jobLogVOMap" 
			 type="com.kpms.joblog.vo.JobLogVO"
			 autoMapping="true">
			 <id property="empId" column="EMP_ID"/>
			 <id property="chngDt" column="CHNG_DT"/>
			 <association property="empVO"
			 			  javaType="com.kpms.emp.vo.EmpVO">
			 	<id property="empId" column="EMP_ID"/>
			 	<result property="fNm" column="F_NM"/>
			 	<result property="lNm" column="L_NM"/>
			 </association>
			 <association property="prvsJobNmVO"
			 			  javaType="com.kpms.job.vo.JobVO">
			 	<id property="jobId" column="PRVS_JOB_ID"/>
			 	<result property="jobNm" column="PRVS_JOB_NM"/> 
			 </association>
			<association property="chngJobNmVO"																	
						 javaType="com.kpms.job.vo.JobVO">
				<id property="jobId" column="CHNG_JOB_ID"/>
				<result property="jobNm" column="CHNG_JOB_NM"/>	
			</association>
	</resultMap>
	<select id="readAllJobLogVO"
			parameterType="com.kpms.joblog.vo.JobLogVO"
			resultMap="jobLogVOMap">
		<include refid="Common.pageHeader"/>
		SELECT TO_CHAR(JL.CRT_DT, 'YYYYMMDDHH24MISS') || JL.EMP_ID PK_COL
			 , DENSE_RANK() OVER(ORDER BY JL.CRT_DT || JL.EMP_ID DESC) RNUM
			 , JL.EMP_ID
	 		 , TO_CHAR(JL.CRT_DT, 'YYYY-MM-DD HH24:MI:SS') CRT_DT
	 		 , JL.CRTR
			 , TO_CHAR(JL.CHNG_DT, 'YYYY-MM-DD HH24:MI:SS') CHNG_DT
			 , JL.PRVS_JOB_ID
			 , J.JOB_NM PRVS_JOB_NM
			 , JL.CHNG_JOB_ID
			 , JB.JOB_NM CHNG_JOB_NM
			 , JL.CHNG_RSN
			 , E.F_NM
			 , E.L_NM
  		  FROM (SELECT *
 		  		  FROM JOB_LOG
		 		 WHERE CHNG_DT >= TO_DATE(#{startDt} || ' 00:00:00', 'YYYY-MM-DD HH24:MI:SS')
				   AND CHNG_DT <![CDATA[<=]]> TO_DATE(#{endDt} || ' 23:59:59', 'YYYY-MM-DD HH24:MI:SS')
				<if test="empId != null and empId != ''">
				   AND EMP_ID = #{empId}
				</if>) JL
		  JOIN JOB J
   		    ON J.JOB_ID = JL.PRVS_JOB_ID
 		  JOIN JOB JB
   		    ON JB.JOB_ID = JL.CHNG_JOB_ID
		  JOIN (SELECT E.*
		  			 , E.L_NM || E.F_NM NM
		  		  FROM EMP E) E
		 	ON E.EMP_ID = JL.EMP_ID
		<if test="empVO != null and empVO.fNm != null and empVO.fNm != ''">
		 WHERE E.NM LIKE '%' || #{empVO.fNm} || '%'
		</if>
		<include refid="Common.pageFooter"/>
	</select>

	<insert id="createJobLog"
			parameterType="com.kpms.emp.vo.EmpChngJobVO">
		INSERT INTO JOB_LOG
		(EMP_ID,
		 PRVS_JOB_ID,
		 CRT_DT,
		 CHNG_DT,
		 CRTR,
		 CHNG_JOB_ID,
		 CHNG_RSN)
		SELECT EMP_ID
			 , JOB_ID
			 , SYSDATE
			 , SYSDATE
			 , #{mdfyr}
			 , #{jobId}
			 , #{chngRsn}
		  FROM EMP
		 WHERE EMP_ID IN
		 <foreach collection="empIdList" item="empId" open="(" close=")" separator=", ">
		  #{empId}
		 </foreach>
	</insert>
	
</mapper>