<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RcvMsg">

	<resultMap id="rcvMsgVOMap"
			   type="com.kpms.rcvmsg.vo.RcvMsgVO"
			   autoMapping="true">
			<id property="msgId" column="MSG_ID"/>
			<association property="sndMsgVO"
		   				javaType="com.kpms.sndmsg.vo.SndMsgVO">
				<id property="msgId" column="SND_MSG_ID"/>
			   	<result property="ttl" column="TTL"/>
				<association property="sndEmpVO"
			 			  javaType="com.kpms.emp.vo.EmpVO">
				 	<id property="empId" column="EMP_ID"/>
				 	<result property="fNm" column="SE_F_NM"/>
				 	<result property="lNm" column="SE_L_NM"/>
				</association>
			</association>
				<association property="rcvrEmpVO"
			 			  javaType="com.kpms.emp.vo.EmpVO">
				 	<id property="empId" column="EMP_ID"/>
				 	<result property="fNm" column="F_NM"/>
				 	<result property="lNm" column="L_NM"/>
				</association>
	</resultMap>
	
	<select id="readAllRcvMsgVO"
			parameterType="com.kpms.rcvmsg.vo.MsgSearchVO"
			resultMap="rcvMsgVOMap">
		<include refid="Common.pageHeader"/>
		SELECT RM.MSG_ID PK_COL
			 , DENSE_RANK() OVER(ORDER BY RM.CRT_DT || RM.MSG_ID DESC) RNUM
			 , RM.MSG_ID
			 , RM.CRT_DT
			 , RM.CRTR
			 , RM.USE_YN
			 , RM.DEL_YN
			 , RM.SND_MSG_ID
			 , RM.RCVR
			 , RM.RD_YN
			 , SM.TTL
			 , SND_E.F_NM  SE_F_NM 
			 , SND_E.L_NM  SE_L_NM
		  FROM (SELECT *
		  		  FROM RCV_MSG
				 WHERE RCVR = #{empId}
				   AND DEL_YN = 'N'
				<if test="filterType == 'read'">
				   AND RD_YN = 'Y'
				</if>
				<if test="filterType == 'unread'">
				   AND RD_YN = 'N'
				</if>) RM
		 INNER JOIN SND_MSG SM
		    ON SM.MSG_ID = RM.SND_MSG_ID
		 INNER JOIN (SELECT E.*
		 				  , E.L_NM || E.F_NM NM
		               FROM EMP E
					<if test='searchType == "id"'>
					   WHERE E.EMP_ID LIKE '%' || #{searchKeyword} || '%'
					</if>) SND_E
		 	ON SND_E.EMP_ID = SM.CRTR
        <if test='searchType == "sndrNm"'>
		 WHERE SND_E.NM LIKE '%' || #{searchKeyword} || '%'
		</if>
		<include refid="Common.pageFooter"/>
	</select>
	
	<!-- 휴지통 조회 -->
	<select id="readAllDelMsg"
			parameterType="com.kpms.rcvmsg.vo.MsgSearchVO"
			resultMap="rcvMsgVOMap">
		<include refid="Common.pageHeader"/>
		SELECT T.*
			 , DENSE_RANK() OVER(ORDER BY CRT_DT || MSG_ID DESC) RNUM
		  FROM (SELECT R.MSG_ID PK_COL
					 , R.MSG_ID
					 , R.CRT_DT
					 , S.TTL
					 , R.CRTR
					 , S.ATTCH
					 , E.F_NM
					 , E.L_NM
					 , 'RM' "TYPE"
				  FROM RCV_MSG R
				 INNER JOIN SND_MSG S
				 	ON S.MSG_ID = R.SND_MSG_ID
				 INNER JOIN EMP E
				    ON R.CRTR = E.EMP_ID
				 WHERE R.DEL_YN = 'Y'
				 UNION
				SELECT S.MSG_ID PK_COL
					 , S.MSG_ID
					 , S.CRT_DT
					 , S.TTL
					 , S.CRTR
					 , S.ATTCH
					 , E.F_NM
					 , E.L_NM
					 , 'SM'
				  FROM SND_MSG S
				 INNER JOIN EMP E
				    ON E.EMP_ID = S.CRTR
				 WHERE S.DEL_YN = 'Y') T
		<include refid="Common.pageFooter"/>
	</select>
	
	<select id="readOneSndMsgVO"
			parameterType="com.kpms.rcvmsg.vo.RcvMsgVO"
			resultType="com.kpms.rcvmsg.vo.RcvMsgVO">
		SELECT MSG_ID
			 , CRT_DT
			 , CRTR
			 , USE_YN
			 , DEL_YN
			 , SND_MSG_ID
			 , RCVR
			 , RD_YN
		  FROM RCV_MSG
		
	</select>
	
	<insert id="createOneRcvMsg"
			parameterType="com.kpms.rcvmsg.vo.RcvMsgVO">
		INSERT INTO RCV_MSG
				   (MSG_ID
				  , CRT_DT
				  , CRTR
				  , MDFY_DT
				  , MDFYR
				  , USE_YN
				  , DEL_YN
				  , SND_MSG_ID
				  , RCVR
				  , RD_YN)
			 VALUES
			 	  ('RM-' || TO_CHAR(SYSDATE,'YYYYMMDD') || '-' || LPAD(SEQ_RCV_MSG_PK.NEXTVAL,5,'0')
			 	 , SYSDATE
			 	 , #{crtr}
			 	 , SYSDATE
			 	 , #{mdfyr}
			 	 , NVL(#{useYn}, 'N')
			 	 , 'N'
			 	 , #{sndMsgId}
			 	 , #{rcvr}
			 	 , 'N')
	</insert>
	<insert id="createRcvMsg"
			parameterType="com.kpms.sndmsg.vo.SndMsgVO">
		INSERT INTO RCV_MSG
		 (MSG_ID
		, CRT_DT
		, CRTR
		, USE_YN
		, DEL_YN
		, SND_MSG_ID
		, RCVR
		, RD_YN)
		SELECT SEQ_RCV_MSG_PK.NEXTVAL
			 , SYSDATE
			 , #{crtr}
			 , 'Y'
			 , 'N'
			 , #{msgId}
			 , EMP_ID RCVR
			 , 'N'
		  FROM EMP
		 WHERE EMP_ID IN
		<foreach collection="rcvMsgVO" item="rcvMsg" open="(" close=")" separator=", ">
		 #{rcvMsg.rcvr}
		</foreach>
	</insert>
	
	<update id="deleteOneRcvMsg"
			parameterType="string">
		UPDATE RCV_MSG
		   SET DEL_YN = 'Y'
		 WHERE MSG_ID = #{_parameter}
	</update>
	
	<update id="deleteRcvMsgBySelectedMsgId"
			parameterType="arraylist">
		UPDATE RCV_MSG
		   SET DEL_YN = 'Y'
		 WHERE MSG_ID IN
		 <foreach collection="list" item="msgId" open="(" close=")" separator="," >
		  #{msgId}
		 </foreach>
	</update>
	
	<update id="updateRcvMsgReadByRcvMsgIdList"
			parameterType="arraylist">
		UPDATE RCV_MSG
		   SET RD_YN='Y'
		 WHERE MSG_ID IN
		 <foreach collection="list" item="msgId" open="(" close=")" separator="," >
		  #{msgId}
		 </foreach>
	</update>
	<update id="updateRcvMsgReadByMsgId"
			parameterType="string">
		UPDATE RCV_MSG
		   SET RD_YN='Y'
		 WHERE MSG_ID = #{_parameter}
	</update>
	
	<delete id = "deleteTrashMsg"
			parameterType="arraylist">
		DELETE 
		  FROM RCV_MSG
		 WHERE MSG_ID IN 
		 <foreach collection="list" item="msgId" open="(" close=")" separator="," >
	 	 #{msgId}
		 </foreach> 
	</delete>
	
	<select id="readOneRcvMsg"
			parameterType="string"
			resultMap="rcvMsgVOMap">
		SELECT R.MSG_ID
			 , S.TTL
			 , R.CRT_DT
			 , R.CRTR
			 , SND_E.F_NM SE_F_NM
			 , SND_E.L_NM SE_L_NM
			 , RCV_E.F_NM RE_F_NM
			 , RCV_E.L_NM RE_L_NM
			 , R.USE_YN
			 , R.DEL_YN
			 , R.SND_MSG_ID
			 , R.RCVR
			 , R.RD_YN
			 , S.CNTNT
		  FROM RCV_MSG R
		 INNER JOIN SND_MSG S
		    ON R.SND_MSG_ID = S.MSG_ID
		 INNER JOIN EMP RCV_E
		 	ON RCV_E.EMP_ID = R.CRTR 
		 INNER JOIN EMP SND_E
			ON SND_E.EMP_ID = S.CRTR
		 WHERE R.MSG_ID = #{_parameter}
	</select>
	
	<update id="restoreRcvMsg"
			parameterType="arraylist">
		UPDATE RCV_MSG
		   SET DEL_YN = 'N'
		 WHERE MSG_ID IN
		 <foreach collection="list" item="msgId" open="(" close=")" separator="," >
	 	 #{msgId}
		 </foreach> 
	</update>
</mapper>