<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PstnLog">

	<select id="readAllPstnLog"
			parameterType="com.kpms.pstnlog.vo.PstnLogVO"
			resultType="com.kpms.pstnlog.vo.PstnLogVO">
		SELECT EMP_ID
			 , TO_CHAR(CRT_DT, 'YYYY-MM-DD HH24:MI:SS') CRT_DT
			 , CRTR
			 , TO_CHAR(CHNG_DT, 'YYYY-MM-DD HH24:MI:SS') CHNG_DT
			 , PRVS_PSTN_ID
			 , CHNG_PSTN_ID
			 , CHNG_RSN
		  FROM PSTN_LOG;
		
	</select>
	
	<insert id="createPstnLog"
			parameterType="com.kpms.pstnlog.vo.PstnLogVO">
		INSERT INTO PSTN_LOG
				   (EMP_ID
				  , CRT_DT
				  , CRTR
				  , CHNG_DT
				  , PRVS_PSTN_ID
				  , CHNG_PSTN_ID
				  , CHNG_RSN)
			VALUES
				  (SEQ_PSTN_LOG_PK.NEXTVAL
				 , SYSDATE
				 , #{crtr}
				 , SYSDATE
				 , #{prvsPstnId}
				 , #{chngPstnId}
				 , #{chngRsn})
		
	</insert>
	
</mapper>