@charset "UTF-8";
body{
	margin: 0;
	padding: 0;
}

a{
	padding: 0;
	text-decoration: none;
}
li{
	list-style: none;
	display: inline-block;
}
*{
	font-size:12pt;
	color:#333;
}

.fullscreen{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.bg-gray{
	background-color: #808080;	
}

.item-align-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.align-center{
	text-align: center;
}
.align-right{
	text-align: right;
}

.align-left{
	text-align: left;
}

#gnb-menu{
	height: 20%;
}

#contents{
	height: 79%;
}

#side-menu{
	width: 25%;
	height: 100%;
	display: inline-block;
}

#content{
	width: 74%;
	height: 100%;
	display: inline-block;
}

/* Inputs */
.input-group {
	padding: 3px;
}
.input-group > label {
	display : inline-block;
	padding: 5px;
}
.input-group > input {
	border: 1px solid #999;
	border-radius: 3px;
	padding: 5px;
}

.input-group > input[disabled]{
	background-color: #ffffaa
}

.input-group > input[type=checkbox]{
	width:312px;
	margin:0px;
} 



/* Buttons */
.btn-primary {
	background-color:#4242ff;
	color:#FFF;
	border:none;
	border-radius: 3px;
	font-size: 10px;
	padding:5px;
}

#btn-lgn{
	width :20%;
}
.btn-primary:active {
	background-color: #80a2fd;
}

.btn-delete {
	background-color:#ea021f;
	color:#FFF;
	border:none;
	border-radius: 3px;
	font-size: 10px;
	padding:5px;
}

.btn-delete:active{
	background-color: #fe6578;
}

.btn-primary:active{
	background-color: #80a2fd;
}


/*Login*/
.lgn-group {
	background-color: #eee;
	border:1px solid #777;
	border-radius:5px;
	padding:3px;
}

.lgn-group h1 {
	margin:0px;
	padding:0px;
	margin-bottom:10px;
}





/* Main Layouts  */
.main-layout > .header {
	height:70px;
	padding: 10px;
	position: relative;
	
}


.bg-black {
	background-color: #555;
}

.main-layout > .header > .nav{
	display: inline-block;
	padding: 0px;
	margin :0px;
	list-style-type:none;
	position: absolute;
	bottom:10px;
}
.main-layout > .header > .nav > .nav-item,
.main-layout > .header > .nav > .nav-item > a {
	display: inline-block;
	padding: 0px;
	margin :0px;
	color: #fff7;
}

.main-layout > .header > .nav > .nav-item:hover{
	color: #fff;
}

.main-layout > .header > .nav > .nav-item > a:hover{
	color: #fff;
}

.main-layout > .header > .nav > .active {
	font-weight:bold;
	color:#DDD;
}
.main-layout > .header > .profile {
	color: #EEE;
	position: absolute;
	right:10px;
	top:10px;
}

.inline{
	display: inline-block;
}

.main-layout > div > .side-menu	{
	width: 150px;
	position:fixed;
	bottom:0px;
	top: 90px;
}

.main-layout > div > .side-menu	> .menu-list{
	margin:0px;
	padding:0px;
	list-style-type:none;
	
}

.main-layout > div > .side-menu	> .menu-list > .menu-item > a {
	color: #FFF;
}
.main-layout > div > .side-menu	> .menu-list > .menu-item {
	color: #FFF;
	padding-top : 10px;
	padding-left: 10px;
}

.main-layout > div > .side-menu	> .menu-list > .menu-item > a:hover {
	color:#80a2fd;
}

.main-layout > div > .side-menu	> .menu-list > .menu-item:last-child{
	padding-bottom: 10px;
}

.main-layout > div > .content {
	position:fixed;
	top:90px;
	bottom:0px;
	left:150px;
	right:0px;
	overflow: auto;
	padding:10px;
	
}


/* Grid  */
.content >.path {
	padding:15px;
	background-color: #ffff80;
	margin-bottom: 10px;
}

.content .grid > grid-count {
	font-size:11px;
	
}

.content .grid > table{
	border-collapse:collapse;
	border:1px solid #ddd;
	width:100%;
	
}

.content .grid > table >thead > tr{
	background-color: #eee;
}

.content .grid > table >thead > tr >th{
	border-left: 1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding: 3px;
	font-size:5px;
}

.content .grid > table >thead > tr >th:first-child{
	border-left: 0px;
}

.content .grid > table > tbody> tr >td {
	padding: 5px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	
}


.content .grid > table > tbody> tr:hover{
	background-color: #88c8ff;
	}
	
	
.content .grid > table > tbody> tr >td:first-child{
	border-left: 0xp;
	
}

.content .grid .no-items {
	text-align: center;
} 

.content .grid-detail{
	margin-top:10px;
}


.content .grid-detail:before {
	content: "상세정보";
	font-size: 13pt;
	font-weight:bold;
	
}




/* Search */
.search-group {
	display: flex;
	magin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #f3f1e6;
}

.search-row-group {
	display: flex;
	margin: 10px 0;
	background-color: #f3f1e6;
	flex-direction: column;
}

.search-row-group .search-group{
	magin-top: 0px;
	margin-bottom: 0px;
}

.search-group .btn-search {
	background-color: rgb(55, 141, 240);
	border-radius: 3px;
	border: 0px;
	color: #fff;
	font-weight: bold;
	font-size: 10pt;
}

.search-group .btn-search:active{
	background-color: #bdccff;
}

.search-group .search-input {
	flex-grow: 1;
	margin-right: 10px;
}

.search-popup {
	margin-left: 10px;
	margin-right: 10px;
}

.grow-1 {
	flex-frow: 1;
}
.mr-10 {
	margin-right: 10px;
}

/* Pagenate */
.pagenate .page-no {
	color:#DDD;
}
.pagenate .page-no.active {
	color:#333;
}


/* Profile */
input[type=file]{
	display: none;
}

img.profile{
	border-radius:50%;
	width:50px;
	height:50px;
}




/* 등록 폼*/
.create-group {
	display: flex;
}

.create-group > div {
	border-bottom: 3px solid #e3e3e3;
}

.create-group label {
	display: inline-block;
	background-color: #e3e3e3;	
	width: 130px;
	padding: 10px;
}

.create-group button, 
.create-group select,
.create-group input,
.create-group .items{
	flex-grow: 1;
	margin: 10px;
}

.create-group textarea {
	flex-grow: 1;	
	margin: 10px;
	height: 300px;
}

