@charset "UTF-8";
a {
  cursor: pointer;
  display: inline-block;
}
body {
  font-family: 'Open Sans', Sans-serif;
  font-size: 18px;
  color: rgb(237, 235, 231);
  background: rgb(237, 235, 231);
  padding: 0;
  margin: 0;
}
#kpms{
	font-family: 'Oswald', sans-serif;
    color: rgb(187, 39, 32);
    font-weight: 400;
    font-size: 300px;
    letter-spacing: -20px;
    font-stretch: condensed;
    top: -140px;
    position: fixed;
}
body .container {
  background: rgb(237, 235, 231);
  height: 95vh;
  width: 100vw;
  position: relative;
  transition: 0.3s all ease-in-out;
}
body.modal-active .container {
  transform: scale(0.95, 0.95);
  opacity: 0.9;
  pointer-events: none;
}
body.modal-active div.modal {
  top: 50%;
}
.actions {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.actions .btn {
  color: #888;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  vertical-align: baseline;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
  position: relative;
}
.actions .btn::after {
  content: "";
  width: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  background: #aaa;
  position: absolute;
  transition: 0.3s all ease-in-out;
}
.actions .btn:hover, .actions .btn:focus {
  color: #666;
  outline: none;
}
.actions .btn:hover::after, .actions .btn:focus::after {
  width: 100%;
}
.actions .btn:active {
  top: 0.1em;
}
.actions .btn ~ .btn {
  margin-left: 1em;
}
.actions .btn.login {
  color: #666;
}
.actions .btn.login:hover, .actions .btn.login:focus {
  color: #444;
}
div.modal {
  position: absolute;
  padding: 4em;
  background: #293040;
  color: #2b2b2b;
  top: -100vh;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s all ease-in-out;
  min-width: 300px;
  font-size: 14px;
  border-radius: 0;
  max-height: 100vh;
  max-width: 100vw;
  overflow: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 15px solid rgb(187, 39, 32);
}
div.modal .content {
  transition: 0.3s all ease-in-out;
  max-height: 45em;
  overflow: hidden;
}
div.modal .success-check {
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: contain;
  transition: 0.3s all ease-in-out;
  max-height: 0;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
}
div.modal.success {
  border-radius: 50em;
  min-width: 0;
  font-size: 4em;
  padding: 1em;
  text-align: center;
}
div.modal.success .content {
  max-height: 0;
  max-width: 0;
}
div.modal.success .success-check {
  opacity: 1;
  max-height: none;
}
div.modal .nav {
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 4em;
}
div.modal .nav.active {
  font-weight: 600;
  color: #2b2b2b;
  border-bottom: 1px solid #2b2b2b30;
}
div.modal .nav + .nav {
  margin-left: 2em;
}
div.modal label {
  text-transform: uppercase;
  font-size: 10px;
  display: block;
}
div.modal .regist {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s all ease-in-out;
  opacity: 0;
}
div.modal .regist input {
  visibility: none;
}
div.modal.register .regist {
  max-height: 6em;
  opacity: 1;
}
div.modal.register .regist input {
  display: block;
}
div.modal input, div.modal button {
  box-sizing: border-box;
  width: 100%;
  border: 0;
  border-radius: 0.3em;
  padding: 0.7em 1em;
  font-family: 'Open Sans', Sans-serif;
}
div.modal input:focus, div.modal button:focus {
  outline: none;
}
div.modal input {
  background: rgba(226, 188, 151, 0.1);
  margin: 0.5em 0 1.5em;
  font-weight: 600;
  color: #2b2b2b;
  border-bottom: 2px solid transparent;
  transition: 0.3s all ease-in-out;
  letter-spacing: 0.05em;
}
div.modal input:focus {
  border-bottom-color: rgba(226, 188, 151, 0.4);
}
div.modal button {
  cursor: pointer;
  margin: 4em 0;
  background: #E2BC97;
  color: #2b2b2b;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  transition: 0.3s all ease-in-out;
}
div.modal button + button {
  margin-top: 0.5em;
}
div.modal button + button::after {
  display: none;
}
div.modal button + div {
  border-top: 1px solid rgba(226, 188, 151, 0.5);
  margin-top: 3em;
  padding-top: 3em;
}
div.modal button::before {
  content: "";
  top: 0;
  left: -4px;
  transition: 0.3s all ease-in-out;
  background: #E2BC97;
  height: 100%;
  width: 5px;
  position: absolute;
  transition-duration: 3s;
  display: none;
}
div.modal button.loading .loading {
  display: block;
}
div.modal .text-center {
  text-align: center;
}
div.modal a {
  color: #888;
  text-decoration: none;
}
div.modal button span {
  display: none;
}
div.modal.register button .register {
  display: block;
}
div.modal.login button .login {
  display: block;
}
div.modal button.loading span {
  display: none !important;
}
div.modal button.loading span.loading {
  animation: 3s throb ease-in-out;
  display: block !important;
}
div.modal {
  background: rgb(237, 235, 231);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.success-check {
}
@keyframes throb {
  0%, 100% {
    letter-spacing: 0.05em;
  }
  50% {
    letter-spacing: 0.2em;
  }
}


div.modal .content .regist-form {
	overflow-y: auto;
	height: 500px;
	width: 370px;
}

div.modal .content .regist-form div.first-name {
	display: inline-block;
	width: 60%;
	margin-right: 8%;
}
div.modal .content .regist-form div.last-name {
	display: inline-block;
	width: 30%;
}

div.modal .content .regist-form div.regist.address #addrss{
	margin-bottom: 5px;
	width: 60%;
}
