<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Prj">

	<select id="readAllPrjVO"
			parameterType="com.kpms.prj.vo.PrjVO"
			resultType="com.kpms.prj.vo.PrjVO">
		SELECT P.PRJ_ID
			 , TO_CHAR(P.CRT_DT, 'YYYY-MM-DD HH24:MI:SS') CRT_DT
			 , P.CRTR
			 , TO_CHAR(P.MDFY_DT, 'YYYY-MM-DD HH24:MI:SS') MDFY_DT
			 , P.MDFYR
			 , P.USE_YN
			 , P.DEL_YN
			 , P.PRJ_NM
			 , P.CSTMR
			 , P.STRT_DT
			 , P.END_DT
			 , C.CD_NM PRJ_STTS
			 , P.PRJ_STTS
		  FROM PRJ P
		 INNER JOIN CMN_CD C
		    ON P.PRJ_STTS = C.CD_ID
		 WHERE P.DEL_YN = 'N'
		 <if test='prjNm != null and prjNm != ""'>
		   AND P.PRJ_NM LIKE '%' || #{prjNm} || '%'
		 </if>
		 <if test='cstmr != null and cstmr != ""'>
		   AND P.CSTMR LIKE '%' || #{cstmr} || '%'
		 </if>
		 ORDER BY P.PRJ_ID ASC
	</select>
	
	<insert id="createOnePrj"
			parameterType="com.kpms.prj.vo.PrjVO">
		INSERT INTO PRJ
		      (PRJ_ID
		     , CRT_DT
		     , CRTR
		     , MDFY_DT
		     , MDFYR
		     , USE_YN
		     , DEL_YN
		     , PRJ_NM
		     , CSTMR
		     , STRT_DT
		     , END_DT
		     , PRJ_STTS)
	   VALUES
	   	      ('PRJ-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_PRJ_PK.NEXTVAL, '5', 0)
	   	     , SYSDATE
	   	     , #{crtr}
	   	     , SYSDATE
	   	     , #{mdfyDt}
	   	     , NVL(#{useYn}, 'N')
	   	     , 'N'
	   	     , #{prjNm}
	   	     , #{cstmr}
	   	     , TO_DATE(#{strtDt}, 'YYYY-MM-DD')
	   	     , TO_DATE(#{endDt}, 'YYYY-MM-DD')
	   	     , #{prjStts})
	</insert>
	
</mapper>