<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Knw">

	<insert id="createOneKnw"
			parameterType="com.kpms.knw.vo.KnwVO">
		INSERT INTO KNW
		 (KNW_ID
		, CRT_DT
		, CRTR
		, MDFY_DT
		, MDFYR
		, USE_YN
		, DEL_YN
		, TTL
		, CNTNT
		, VW_CNT
		, PRJ_ID)
		VALUES
		 ('KNW-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_KNW_PK)
		, SYSDATE
		, #{crtr}
		, SYSDATE
		, #{mdfyr}
		, #{useYn}
		, 'N'
		, #{ttl}
		, #{CNTNT}
		, '0'
		, #{prjId})
	</insert>
	
	<select id="readAllKnw"
			parameterType="com.kpms.knw.vo.KnwVO"
			resultType="com.kpms.knw.vo.KnwVO">
		SELECT K.KNW_ID
             , TO_CHAR(K.CRT_DT, 'YYYY-MM-DD HH24:MI:SS') K_CRT_DT
             , K.CRTR
             , TO_CHAR(K.MDFY_DT, 'YYYY-MM-DD HH24:MI:SS') K_MDFY_DT
             , K.MDFYR
             , K.USE_YN
             , K.DEL_YN
             , K.TTL
             , K.CNTNT
             , K.VW_CNT
             , K.PRJ_ID
             , P.PRJ_ID P_PRJ_ID
             , P.PRJ_NM 
          FROM KNW K
         INNER JOIN PRJ P
            ON K.PRJ_ID = P.PRJ_ID 
         WHERE K.DEL_YN = 'N'
	</select>

	<update id="updateOneKnw"
			parameterType="com.kpms.knw.vo.KnwVO">
		UPDATE KNW
		   SET MDFY_DT = SYSDATE
		     , MDFYR = #{mdfyr}
		     , USE_YN = NVL(#{useYn}, 'N')
		     , TTL = #{ttl}
		     , CNTNT = #{cntnt}
		     , PRJ_ID = #{prjId}
		 WHERE KNW_ID = #{knwId}
	</update>

	<update id="deleteOneKnw"
			parameterType="string">
		UPDATE KNW
		   SET DEL_YN = NVL(#{delYn}, 'N')
		 WHERE KNW_ID = #{knwId}
	</update>
	
	<update id="deleteKnwBySelectedKnwId"
			parameterType="arraylist">
		UPDATE KNW
		   SET DEL_YN = NVL(#{delYn}, 'N')
		 WHERE KNW_ID IN
		 <foreach collection="list" item="knwId" open="( " close=" )" separator=", ">
			#{knwId}
		</foreach>
	</update>

</mapper>