<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MbrLgnHist">
	
	<insert id="createMbrLgnHist"
			parameterType="com.kpms.lgnhst.vo.LgnHstVO">
		INSERT INTO LGN_HST
		(HST_ID,
		 CRT_DT,
		 CRTR,
		 IP,
		 ACT)
		VALUES
		('LH-' || TO_CHAR(SYSDATE,'YYYYMMDD') || '-' || LPAD(SEQ_LGN_HST_PK.NEXTVAL,5,'0')
		 SYSDATE,
		 , #{crtr}
		 #{ip},
		 #{act})

		
	</insert>
	
</mapper>