<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TmMbr">
	<resultMap id="TmMbrVOMap" type="com.kpms.tmmbr.vo.TmMbrVO" autoMapping="true">
		<id property="tmMbrId" column="TM_MBR_ID" />
		<association property="tmVO" javaType="com.kpms.tm.vo.TmVO">
			<id property="tmId" column="TM_ID" />
			<result property="tmNm" column="TM_NM" />
		</association>
		<association property="empVO" javaType="com.kpms.emp.vo.EmpVO">
			<id property="empId" column="EMP_ID" />
			<result property="fNm" column="F_NM" />
			<result property="lNm" column="L_NM" />
		</association>
	</resultMap>

	<select id="readAllTmMbrVO"
			parameterType="string"
			resultMap="TmMbrVOMap">
		SELECT TM.TM_MBR_ID
			 , TO_CHAR(TM.CRT_DT, 'YYYY-MM-DD HH24:MI:SS') CRT_DT
			 , TM.CRTR
			 , TO_CHAR(TM.MDFY_DT, 'YYYY-MM-DD HH24:MI:SS') MDFY_DT
			 , TM.MDFYR
			 , TM.USE_YN
			 , TM.DEL_YN
			 , TM.TM_ID
			 , TM.EMP_ID
			 , T.TM_NM 
			 , E.F_NM 
			 , E.L_NM 
		  FROM TM_MBR TM
		 INNER JOIN TM T
		    ON TM.TM_ID = T.TM_ID 
		 INNER JOIN EMP E
		    ON TM.EMP_ID = E.EMP_ID
		 WHERE TM.DEL_YN = 'N'
		   AND T.DEL_YN = 'N'
		   AND E.DEL_YN = 'N'
		  <if test='tmId != null and tmId != ""'>
		   AND TM.TM_ID LIKE '%' || #{tmId} || '%'
		  </if>
		 ORDER BY TM.EMP_ID ASC
	</select>
</mapper>