<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TmMbr">
	<resultMap id="TmMbrVOMap" type="com.kpms.tmmbr.vo.TmMbrVO" autoMapping="true">
		<id property="tmMbrId" column="TM_MBR_ID" />
		<association property="tmVO" javaType="com.kpms.tm.vo.TmVO">
			<id property="tmId" column="TM_ID" />
			<result property="tmNm" column="TM_NM" />
			<result property="depId" column="DEP_ID" />
		</association>
		<association property="empVO" javaType="com.kpms.emp.vo.EmpVO">
			<id property="empId" column="EMP_ID" />
			<result property="fNm" column="F_NM" />
			<result property="lNm" column="L_NM" />
			<association property="job" javaType="com.kpms.job.vo.JobVO">
				<id property="jobId" column="JOB_ID" />
				<result property="jobNm" column="JOB_NM" />
			</association>
			<association property="pstn" javaType="com.kpms.pstn.vo.PstnVO">
				<id property="pstnId" column="PSTN_ID" />
				<result property="pstnNm" column="PSTN_NM" />
			</association>
		</association>
	</resultMap>

	<select id="readAllTmMbrVO"
			parameterType="string"
			resultMap="TmMbrVOMap">
		SELECT TM.TM_MBR_ID
			 , TO_CHAR(TM.CRT_DT, 'YYYY-MM-DD HH24:MI:SS') CRT_DT
			 , TM.CRTR
			 , TO_CHAR(TM.MDFY_DT, 'YYYY-MM-DD HH24:MI:SS') MDFY_DT
			 , TM.MDFYR
			 , TM.USE_YN
			 , TM.DEL_YN
			 , TM.TM_ID
			 , TM.EMP_ID
			 , T.TM_NM 
			 , E.F_NM 
			 , E.L_NM
			 , P.PSTN_NM
			 , J.JOB_NM
		  FROM TM_MBR TM
		 INNER JOIN TM T
		    ON TM.TM_ID = T.TM_ID 
		 INNER JOIN EMP E
		    ON TM.EMP_ID = E.EMP_ID
		 INNER JOIN PSTN P
		    ON E.PSTN_ID = P.PSTN_ID
		 INNER JOIN JOB J
		    ON E.JOB_ID = J.JOB_ID
		 WHERE TM.DEL_YN = 'N'
		   AND T.DEL_YN = 'N'
		   AND E.DEL_YN = 'N'
		  <if test='tmId != null and tmId != ""'>
		   AND TM.TM_ID = #{tmId}
		  </if>
		 ORDER BY TM.EMP_ID ASC
	</select>
	
	<select id="readAllTmMbrInTm"
			parameterType="string"
			resultMap="TmMbrVOMap">
		SELECT TM.TM_MBR_ID
			 , TO_CHAR(TM.CRT_DT, 'YYYY-MM-DD HH24:MI:SS') CRT_DT
			 , TM.CRTR
			 , TO_CHAR(TM.MDFY_DT, 'YYYY-MM-DD HH24:MI:SS') MDFY_DT
			 , TM.MDFYR
			 , TM.USE_YN
			 , TM.DEL_YN
			 , TM.TM_ID
			 , TM.EMP_ID
			 , T.TM_NM 
			 , E.F_NM 
			 , E.L_NM
			 , P.PSTN_NM
			 , J.JOB_NM
		  FROM TM_MBR TM
		 INNER JOIN TM T
		    ON TM.TM_ID = T.TM_ID 
		 INNER JOIN EMP E
		    ON TM.EMP_ID = E.EMP_ID
		 INNER JOIN PSTN P
		    ON E.PSTN_ID = P.PSTN_ID
		 INNER JOIN JOB J
		    ON E.JOB_ID = J.JOB_ID
		 WHERE TM.DEL_YN = 'N'
		   AND T.DEL_YN = 'N'
		   AND E.DEL_YN = 'N'
		   AND T.TM_HD_ID != E.EMP_ID
		  <if test='tmId != null and tmId != ""'>
		   AND TM.TM_ID LIKE '%' || #{tmId} || '%'
		  </if>
		 ORDER BY TM.EMP_ID ASC
	</select>
	
	<insert id="createOneTmMbr"
			parameterType="com.kpms.tmmbr.vo.TmMbrVO">
		INSERT INTO TM_MBR
		 (TM_MBR_ID
		, CRT_DT
		, CRTR
		, MDFY_DT
		, MDFYR
		, USE_YN
		, DEL_YN
		, TM_ID
		, EMP_ID)
		VALUES
		 ('MBR-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_TM_MBR_PK.NEXTVAL, 5, '0')
		, SYSDATE
		, #{crtr}
		, SYSDATE
		, #{mdfyr}
		, 'Y'
		, 'N'
		, #{tmId}
		, #{empId})
	</insert> 
	
	<update id="deleteOneTmMbrByTmMbrId"
			parameterType="string">
		UPDATE TM_MBR
		   SET DEL_YN = 'Y'
		 WHERE TM_MBR_ID = #{_parameter}		
	</update>
	
	<update id="deleteTmMbrByTmId"
			parameterType="string">
		UPDATE TM_MBR
		   SET DEL_YN = 'Y'
		 WHERE TM_ID = #{_parameter}		
	</update>
	
	<update id="deleteTmMbrBySelectedTmMbrId"
			parameterType="arraylist">
		UPDATE TM_MBR
		   SET DEL_YN = 'Y'
		 WHERE TM_MBR_ID IN
		 <foreach collection="list" item="tmMbrId" open="(" close=")" separator=", ">
		 	#{tmMbrId}
		 </foreach>		
	</update>
	
	<update id="deleteTmMbrByDepId"
			parameterType="string">
		UPDATE TM_MBR TM
		   SET TM.DEL_YN = 'Y'
		 WHERE TM.TM_ID IN (SELECT T.TM_ID
		 					  FROM TM T
		 					 WHERE T.DEP_ID = #{_parameter})
	</update>
</mapper>