<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TmMbr">

	<insert id="createNewTmMbr"
			parameterType="com.kpms.tmmbr.vo.TmMbrVO">
		 MERGE INTO TM_MBR
		 USING DUAL
		    ON (TM_ID = #{tmId}
		   AND EMP_ID = #{empId})
		  WHEN MATCHED THEN
			   UPDATE
			   SET DEL_YN = 'N'
			  	 , MDFY_DT = SYSDATE
			  	 , MDFYR = #{mdfyr}
		  WHEN NOT MATCHED THEN
			INSERT INTO TM_MBR
				  (TM_MBR_ID
				 , CRT_DT
				 , CRTR
				 , MDFY_DT
				 , MDFYR
				 , USE_YN
				 , DEL_YN
				 , TM_ID
				 , EMP_ID)
		    VALUES
		  		  ('TMM-' || TO_CHAR(SYSDATE, 'YYYY-MM-YY') || '-' || LPAD(SEQ_TM_MBR_PK.NEXTVAL, 5, '0')
		  		 , SYSDATE
		  		 , #{crtr}
		  		 , SYSDATE
		  		 , #{mdfyr}
		  		 , NVL(#{useYn}, 'N')
		  		 , 'N'
		  		 , #{tmId}
		  		 , #{empId})
	</insert>
	
	<delete id="deleteOneTmMbrByTmMbrId"
			parameterType="String">
		UPDATE TM_MBR
		   SET DEL_YN = 'Y'
		 WHERE TM_MBR_ID = #{_parameter}		
	</delete>
</mapper>