<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EqpLog">
	
	<resultMap id="eqpLogVOMap" 
				type="com.kpms.eqplog.vo.EqpLogVO"
				autoMapping="true">
		<id property="logId" column="LOG_ID"/>
		<association property="crtrEmpVO"
					   javaType="com.kpms.emp.vo.EmpVO" >
			<id property="empId" column="CRTR" />
			<result property="fNm" column="CRTR_EL_F_NM"/>
			<result property="lNm" column="CRTR_EL_L_NM"/>
		</association>	
	</resultMap>
	
	<insert id="createEqpLog"
			parameterType="com.kpms.eqplog.vo.EqpLogVO">
		INSERT INTO EQP_LOG
		 (LOG_ID
		, CRT_DT
		, CRTR
		, EMP_ID
		, EQP_ID
		, STTS)
		VALUES
		 ('EL-' || TO_CHAR(SYSDATE,'YYYYMMDD') || '-' || LPAD(SEQ_EQP_LOG_PK.NEXTVAL,5,'0')
		, SYSDATE
		, #{crtr}
		, #{empId}
		, #{eqpId}
		, #{stts})
	</insert>
	
	<select id="readAllEqpLog"
			parameterType="com.kpms.eqplog.vo.EqpLogVO"
			resultMap="eqpLogVOMap">
		<include refid="Common.pageHeader" />
		SELECT EL.LOG_ID PK_COL
			 , EL.LOG_ID
			 , DENSE_RANK() OVER(ORDER BY TO_CHAR(EL.CRT_DT,'YYYYMMDDHH24MISS') || EL.LOG_ID DESC) RNUM
			 , EL.CRT_DT
			 , EL.CRTR
			 , EL.EMP_ID
			 , EL.EQP_ID
			 , EL.STTS
			 , CRTR_EL.L_NM CRTR_EL_L_NM
			 , CRTR_EL.F_NM CRTR_EL_F_NM
		  FROM EQP_LOG EL
		 INNER JOIN EMP CRTR_EL
		 	ON EL.CRTR = CRTR_EL.EMP_ID
		 <include refid="Common.pageFooter" />
	</select>
	

</mapper>